
@{
    ViewBag.Title = "EmployeeIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html lang="en">

<head>

    <title>Result Visualization</title>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script>

        $(document).ready(function () {

            $.ajax({

                type: "POST",

                dataType: "json",

                contentType: "application/json",

                url: '@Url.Action("VisualizeEmployeeResult", "Graphic")',

                success: function (result) {

                    google.charts.load('current', {

                        'packages': ['corechart']

                    });

                    google.charts.setOnLoadCallback(function () {

                        drawChart(result);

                    });

                }

            });

        });



        function drawChart(result) {

            var data = new google.visualization.DataTable();

            data.addColumn('string', 'Name');

            data.addColumn('number', 'Personel Sayısı');

            var dataArray = [];



            $.each(result, function (i, obj) {

                dataArray.push([obj.dep, obj.number]);

            });

            data.addRows(dataArray);



            var columnChartOptions = {

                title: "Personel Departman Grafiği",

                width: 1300,

                height: 600,

                bar: { groupWidth: "30%" },

            };



            var columnChart = new google.visualization.ColumnChart(document

                .getElementById('columnchart_div'));    /* chart türü değiştirince column ifadesi yerindekilere değiştirmek istediğimizi yazarız. */



            columnChart.draw(data, columnChartOptions);

        }

    </script>

</head>

<body>

    <div id="columnchart_div"></div>

    @*<a href="@Url.Action("PieChart")" class="btn btn-danger">Pie Chart</a>

        <a href="@Url.Action("ColumnChart")" class="active btn btn-primary">Column Chart</a>

        <a href="@Url.Action("LineChart")" class="btn btn-warning">Line Chart</a>*@
    <!--Line chart : çizgi formu, pie chart: daire şekli -->

</body>

</html>

